<app-header></app-header>

<main>
  <section class="main-section p-70px">
    <div>
      <span>KIPPER CONSULTORIA</span>
      <H1>A consultoria que você busca para o seu software</H1>
    </div>

    <img ngSrc="./assets/principal.png" width="669" height="536" alt="" />
  </section>

  <section class="benefit-section p-70px">
    <div class="headline">
      <h2>95% das<br />empresas</h2>
    </div>
    <p>
      não sabem como lidar com problemas de <strong>escalibilidade</strong> e
      grande volume de requisições
    </p>
  </section>

  <section class="cta-section">
    <app-btn-custom btn-text="fale com nossos especialistas"></app-btn-custom>
  </section>
</main>
